<template name="login">
<div class="full">
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-center center-block login-box">
        <div class="logo-big">
          <img src="/images/logo-big.png" alt="Chute" />
        </div>
        <h1>Chute Achiever</h1>
        <p>The ultimate tool to track company achievements.</p>
        <div class="login-button single-login-button col-sm-12 btn btn-lg" id="sign-in-facebook">
          <i class="fa fa-facebook"></i>
          <span class="text-besides-image sign-in-text-facebook">Sign in with Facebook</span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>