<template name="postEdit">
  <div id="lightbox-backdrop">
    <div id="lightbox">
      <i class="fa fa-times close"></i>
      <div class="col-md-12">
        <h1>Edit Achievement</h1>
        {{#autoForm collection="Posts" doc=editingDoc id="updatePostForm" type="update"}}

        {{> afQuickField name="title"}}
        {{> afQuickField name="description" rows="5"}}
        <p>Hey! You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">this markup</a> to make tables and headlines!</p>

        <div class="form-group {{#if afFieldIsInvalid name='team'}}has-error{{/if}}">
          {{> afFieldInput name="team" options=teams}}
          {{#if afFieldIsInvalid name="team"}}
          <span class="help-block">{{afFieldMessage name="team"}}</span>
          {{/if}}
        </div>

        <div class="form-group">
          <a href="#" class="upload">Upload Images</a>

          <div class="media">
            {{#each media}}
            {{> postImage}}
            {{/each}}
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>