<template name="postAdd">
  <div id="lightbox-backdrop">
    <div id="lightbox">
      <i class="fa fa-times close"></i>
      <div class="col-md-12">
        <h1>Add Achievement</h1>
        {{#autoForm collection="Posts" id="insertPostForm" type="method" meteormethod="submitPost"}}

          {{> afQuickField name="title"}}
          {{> afQuickField name="description" rows="5"}}

          <div class="form-group {{#if afFieldIsInvalid name='team'}}has-error{{/if}}">
            {{> afFieldLabel name="team"}}
            {{#afFieldSelect name="team"}}
              <option value="">-- select your team --</option>
              <option value="success">Customer Success</option>
              <option value="engineering">Engineering</option>

              <option value="product">Product</option>
              <option value="sales">Sales</option>
              <option value="marketing">Marketing</option>
            {{/afFieldSelect}}

            {{#if afFieldIsInvalid name="team"}}
              <span class="help-block">{{afFieldMessage name="team"}}</span>
            {{/if}}
          </div>

          <div class="form-group">
            <a href="#" class="upload">Upload Images</a>

            <div class="media">
              {{#each images}}
              {{> postImage}}
              {{/each}}
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Add Achievement</button>
          </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>