<template name="usersList">
  <div class="container">
    <div class="row">
      <div class="col-md-10 center-block">
        <h1>The Team</h1>
        <div class="table-responsive">
          <table class="table table-hover users">
            <thead>
              <tr>
                <th class="col-md-1"></th>
                <th>Name</th>
                {{#if isInRole 'admin,manager'}}<th>Approved</th>{{/if}}
                <th>Nominate</th>
                {{#if isInRole 'admin,manager'}}
                  <th>Badge</th>
                  <th>Roles</th>
                {{/if}}
                {{#if isInRole 'admin'}}
                  <th>Options</th>
                {{/if}}
              </tr>
            </thead>
            {{#each users}}
              {{>userItem}}
            {{/each}}
          </table>

        </div>

      </div>
    </div>
  </div>
</template>