@import "mixins";

.post-view {
  h2 {
    font-size: 19px;
  }

  .edit-post {
    margin: 30px 0;
  }

  .author {
    margin-bottom: 10px;
    img {
      margin-right: 10px;
    }
  }

  .team {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    @include teamcolors();
  }

  .media {
    .image {
      width: 100%;
      clear: both;
      img {
        max-width: 100%;
        margin-right: 5px;
      }
    }
  }

  .comments {
    .comment {
      border-bottom: 1px solid #e0e0e0;
      padding: 10px;
      font-size: 11px;
      position: relative;
      .info {
        height: 20px;
        line-height: 20px;
        margin-bottom: 5px;
        img {
          width: 20px;
          height: 20px;
        }
      }

      @include delete();
    }
  }

  .actions {
    clear: both;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    div {
      width: 100px;
      float: left;
      font-size: 25px;
      padding: 0 20px;
      text-align: left;
      cursor: pointer;
      i {
        font-size: 30px;
      }
      .fa-heart {
        display: none;
      }
      &.liked {
        .fa-heart {
          display: inline-block;
        }
        .fa-heart-o {
          display: none;
        }
      }
    }
  }

  table {
    width: 100%;
    line-height: 1.5em;
    border: 1px solid #eee;

    td, th {
      border: 1px solid #eee;
      padding: 5px;
    }
  }
}


.posts {
  &.list .post-wrapper,
  &.wall .post-wrapper {
    &.filter-hidden {
      display: none;
    }
    .post {
      h1, .picture {
        cursor: pointer;
      }
      .profile {
        display: block;
        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
      footer .like {
        cursor: pointer;
        .fa-heart {
          display: none;
        }
        &.liked {
          .fa-heart {
            display: inline-block;
          }
          .fa-heart-o {
            display: none;
          }
        }
      }
      .team {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;

        @include teamcolors();
      }
    }
  }

  &.wall {
    .post-wrapper {
      display: inline-block;
      position: relative;
      opacity: 0;
      border: 0px;
      margin: 0 $gutter $gutter 0;
      width: 250px;
      background: #fff;
      text-decoration: none;
      overflow: hidden;
      color: #333;

      @include small {
        width: 50%;
      }
      @include mobile {
        width: 100%;
      }
      @include transition(all 0.3s ease-in-out);
      @include box-shadow(1px 1px 2px 0 #d0d0d0);
      a {
        color: #333;
        &:hover {
          text-decoration: none;
        }
      }
      @include delete();

      &.loaded {
        opacity: 1;
      }

      .post {
        padding: 0;
        .profile {
          padding: 15px;
        }
        img {
          width: 100%;
          cursor: pointer;
        }
        .picture {
          text-align: center;
          min-height: 150px;
          i {
            font-size: 70px;
            line-height: 150px;
          }
          @include teamcolors();
        }
        .post-content {
          padding: 12px 15px 20px;

          h1 {
            font-size: 22px;
            margin-top: 0px;
            line-height: 25px;
            overflow: hidden;
            height: 50px;
          }
          .author {
            position: absolute;
            top: 10px;
            left: 10px;
            img {
              height: 40px;
            }
          }
        }

        footer {
          clear: both;
          width: 100%;
          bottom: 0;
          left: 0;
          height: 50px;
          line-height: 50px;
          div {
            width: 50%;
            float: left;
            font-size: 25px;
            padding: 0 20px;
            text-align: left;
            i {
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  &.list {
    .post-wrapper {
      height: 70px;
      display: block;
      border-bottom: 1px solid #ecf0f1;
      background: #f9fafa;
      padding: 0 12px;
      position: relative;

      @include mobile {
        height: auto;
        min-height: 70px;
      }

      .picture {
        float: left;
        padding: 0 20px;
        i {
          line-height: 70px;
        }

        @include teamcolors();
      }

      img {
        display: none;
      }

      & > i {
        float: right;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -10px;
        font-size: 15px;
      }
      .post {
        height: 100%;
        overflow: hidden;

        .profile {
          position: absolute;
          right: 200px;
          line-height: 70px;
          top: 0;
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 70px;
          word-break: break-all;
          display: block;

          img {
            display: inline-block;
          }

          @include mobile {
            position: relative;
            top: 0;
            right: 0;
          }
        }
        .post-content {
          width: 50%;
          display: inline-block;
          padding-top: 15px;

          span.team {
            line-height: 15px;
            margin: 0;
          }
          h1 {
            font-size: 17px;
            font-family: $sans;
            display: block;
            //color: #7f8c8d;
            font-weight: bold;
            margin: 0;
            padding: 0;
          }

        }
        footer {
          display: inline-block;
          height: 100%;
          float: right;
          line-height: 70px;
          padding-right: 20px;

          div {
            display: inline-block;
            height: 100%;
            font-size: 1.3em;
            margin-right: 15px;
          }

        }
      }
    }
  }
}

.select-week {
  border: 0;
  background: transparent;
  & > .btn {
    border: 1px solid #fff;
    background: transparent;
    @include transition(all 0.1s linear);

    &:hover {
      border: 1px solid #eee;
    }
  }
  &.open > .btn {
    background: transparent;
  }

  h1 {
    display: inline-block;
    margin-right: 15px;
  }
  i {
    font-size: 30px;
  }
  .month {
    a {
      font-weight: bold;
      background: $grey;
      color: #fff;
      &:hover {
        background: lighten($grey, 5);
        color: #fff;
      }
    }
  }
}